

nav {
    background-color: white;
    color: black;
    padding: 0px;
    height: 10%;
    text-align: center;
    vertical-align: text-bottom;
    font: 14px/24px;
  padding: 0px;
  line-height: 50px;
  
    

    
}

header {
    text-align: center;
    background-color: white;
    color: black;
    height:10%;
    padding: 0px;
    text-align: center;
    font: 14px/24px;
  padding: 0px;
  border-radius: 6px;

    justify-content: center;
    line-height: 50px;
    

}
body {background-color: gray;
}

section {background-color: white;
    color:black;
    text-align: center;
    width: 60%;
    height: 40%;
    
    
    
}
p1 {background-color:gray;
    color: white;
    text-align: center;
    width: 0%;
    height: 0%;
    

}


    article {background-color: gray;
        text-align: center;
        width: 90%;
    height: 70%;
    border-radius: 3px;
    padding-left:20px;
    margin: auto;


    }
    
    

.aside {background-color: white;
    color:black;
    text-align: center;
    float: right; top: 30%;
    width: 30%;
    height: 40%;
    position: relative;top: -257px;
    
    
}
    
     h1 {background-color: white;
        color: black;
        width: 95%;        
        height: 20%;
        text-align: center;


     }

h2 {background-color: white;
    color: black;
    width: 95%;
    height: 20%;
    text-align: center;

}

.footer {
    
    background-color:white;
    color: black;
    padding: 15px;
    text-align: center;
    text-indent: 400px;
    
    
    


}

/*div {
    border: 1px solid red;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    
}*/



